<div class="container" id="teaser">

  <div class="row">
    <div class=".col-md-12">
      <p class="lead text-center"><img src="/logo.png" class="img-responsive" alt="slidr.io logo"></p>
      <p class="lead text-center">Hassle free slidedeck hosting.</p>
      <form class="form-inline text-center" role="form" action="http://slidr.us7.list-manage1.com/subscribe/post?u=ecde20c8835d7324f14a2f0b7&amp;id=98dc353a17" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
        <div class="form-group">
          <label class="sr-only" for="email">Email address</label>
          <input type="email" class="form-control input-lg" name="EMAIL" id="mce-EMAIL" placeholder="email">
        </div>
        <button type="submit" class="btn btn-lg btn-primary">keep me posted!</button>
      </form>
   </div>
  </div>

</div> <!-- /container -->
