<div class="container" id="teaser">

  <div class="row">
    <div class=".col-md-12">
      <h1 class="logo text-center">slidr.io</h1>
      <p class="lead text-center">Hazzle free slidedeck hosting.</p>
      <p class="lead text-center">Designed from the ground up for technical presentations and the need of our community!</p>
      <!--
      <form class="form-inline text-center" role="form">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">Email address</label>
          <input type="email" class="form-control input-lg" id="email" placeholder="email">
        </div>
        <button type="submit" class="btn btn-lg btn-primary">keep me posted!</button>
      </form>
      -->
   </div>   
  </div>

</div> <!-- /container -->